<% include partials/headerE%>
 
      </div>
      </div>
<div class="row">
                    <div class="col-md-12 col-lg-12">
                    <%if (user){%>
                        <h1 class="intro"><span>Hello,</span> <%=username%> <span></h1>
                 <%} else {%>
                 <h1 class="intro"><span></span> Hello <span></h1>
                 <%}%>
                    </div>
                </div>

        <div class="col-xs-12 col-md-8">
            <div class="row">
                <% for(var i=0; i<portofolios.length; i++){%>
                    <div class="card col-xs-12">
                        <h4 class="card-title"> <%= portofolios[i].name %></h4>
                        <a id ="go" href="/users/explore/<%= portofolios[i].id %>"  class="btn btn-primary card-link">Visit Portofolio</a>
                    </div>
                <% } %>
            </div>
        </div>
        </html>

<script type-"text/javascript">
var s=protofolios[i];
$(#go).click(function(){$(#go).load('/users/explore' , s);

});
   </script>
